@import "utils/variables";
@import "utils/mixins";

.main {
  background-color: $beige;
  flex-grow: 1;
  display: grid;
  justify-content: center;

  @include onDesktop {
    grid-template-columns: repeat(2, 1fr);
  }
}