@import 'utils/mixins';

.imagePart {
  display: none;

  @include onDesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: #AEDBDE;
  }
}

.image {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}