@use "utils" as *;

.status {
  display: flex;
  gap: 4px;
  align-items: center;
}

.statusText {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  &[data-color="0"] {
    color: $red;
  }

  &[data-color="1"] {
    color: $yellow;
  }

  &[data-color="2"] {
    color: $green;
  }
}