@import "utils/variables";

.steps {
  display: flex;
  align-items: flex-start;
  padding: 20px;

  &Wrapper {
    margin-top: 72px;
  }
}

.title {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;

  color: $dark-blue;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}