@import "utils/variables";

.steps {
  display: flex;
  align-items: flex-start;
  padding: 20px;

  &Wrapper {
    margin-top: 72px;
  }
}

.line {
  width: 100%;
  height: 3px;
  background-color: $dark-blue;
}

.step {
  flex: 1 1 0;

  &Header {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-bottom: 48px;
  }

  &Number {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0%;
    color: $beige;
  }

  &Wrapper {
    width: 75px;
    height: 75px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

    &-1 {
      background-color: #f89a89;
    }

    &-2 {
      background-color: #e56d87;
    }

    &-3 {
      background-color: #f6c244;
    }

    &-4 {
      background-color: #66cdd9;
    }
  }

  .step-title {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: $dark-blue
  }

  .step-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    color: $dark-blue
  }
}

.contentWrapper {
  padding-inline: 10px;
}

.title {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;

  color: $dark-blue;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}