@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

.steps {
  display: flex;
  align-items: flex-start;
  padding: 20px;

  &Wrapper {
    margin-top: 72px;
  }
}

.title {
  text-align: center;

  @include onTablet {
    text-align: left;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

  @include onTablet {
    margin-top: unset;
    justify-content: flex-end;
    align-items: flex-end;
  }
}