@import "utils/mixins";
@import "utils/functions";

.titleWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem-calc(16);

  @include onTablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}