@use "utils" as *;

.meetingStatus {
  display: flex;
  gap: 4px;
  align-items: center;
}

.statusText {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  &[data-color="0"] {
    color: $grey;
  }

  &[data-color="1"] {
    color: $light-orange;
  }

  &[data-color="2"] {
    color: $pink;
  }

  &[data-color="3"] {
    color: $light-green;
  }

  &[data-color="4"] {
    color: $green;
  }

  &[data-color="5"] {
    color: $red;
  }
}