@use 'utils' as *;

.reviewSlide {
  width: 389px !important;
}

.prevIcon {
  transform: rotate(180deg);
}

.navButton {
  width: 48px;
  height: 48px;
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  border-width: 2px;
  border-radius: 50%;
}

.buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;

  @include onTablet() {
    justify-content: flex-start;
    margin-top: 40px;
  }
}