@import "utils/variables";
@import "utils/mixins";

.section {
  align-items: center;
}

.title {
  text-align: center;

  @include onTablet {
    text-align: left;
  }

  &Wrapper {
    margin-bottom: 48px;
  }
}

.addressWrapper {
  margin-bottom: 16px;

  @include onTablet {
    margin-bottom: unset;
  }
}