@use 'utils' as *;

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $grey;
  text-align: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &>* {
    width: 100%;
  }
}