$beige: #FEFAF4;
$dark-blue: #020454;
$orange: #FB8218;
$dark-orange: #b02e1a;
$pale-orange: rgba(221, 56, 30, 0.1);
$grey: #625C73;
$light-orange: #F49082;
$pink: #E57B93;
$light-blue: #C7E4F5;
$blue: #91CBFF;
$yellow: #FCBF42;
$marine: #5DD5E4;
$light-green: #1BC760;
$green: #169C4C;
$white: #FFFFFF;