@import "utils/variables";
@import "utils/mixins";



.navigation {
  display: flex;
  gap: 32px;
  justify-content: center;

  list-style: none;

  &_container {
    display: none;

    @include onTablet {
      display: flex;
    }
  }
}

.header {
  align-items: center;
  padding-block: 40px;
}

.loginButton {
  justify-self: flex-end;
}